$blueColor: #77abdc;
$yellowColor: #f8e7a2;

.pannelInfos {
  width: 100%;
  height: 40px; // A modifier lors de l'integration !!!!!!!
  display: flex;
  align-items: center;
  overflow: hidden; /* Masque le contenu qui dépasse la largeur de la bannière */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  background-color: $yellowColor;
  // position: absolute;
  // bottom: 0;
  border-top: 5px solid red;

  .scrollingText {
    display: inline-block;
    animation: scrollText 30s linear infinite;

    p {
      font-size: 1.5em;
    }
  }
}

@keyframes scrollText {
  0% {
    // transform: translateX(175%); /* Démarrez le texte en dehors de la bannière à droite */
    transform: translateX(100%);
  }
  100% {
    // transform: translateX(-150%); /* Faites défiler le texte jusqu'à l'extérieur de la bannière à gauche */
    transform: translateX(-100%);
  }
}
