.reponseIA{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    //justify-content: flex-end;

    h4{
        margin-top: 75px;
        margin-left: 75px;
        position: absolute;
        color: rgb(9, 9, 9);
    }
    .bulle{
        height: 250px;
        width: 350px;
        margin-right: 50px;
    }
    .IA{
        height: 250px;
        width: 250px;
        margin-left: 50px;
    }
    .Labulle{
        display: flex;
    }
}